<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HotelFinder - Navbar</title>
    <link rel="stylesheet" href="homepage.css"/>
       
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">HotelFinder</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/hotels">Hotels</a>
            <a href="/login">Login</a>
            <a href="/admin">admin</a>
        </div>
    </nav>

</body>
</html>
