<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
</head>
<body>
   <ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link" href="/addhotels" style="margin-left: 100px;font-size: 30px;" >Add Hotels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" style="margin-left: 900px ;font-size: 30px;">View Hotels</a>
  </li>
  
</ul>
</body>
</html>